# Ignore node_modules directory for both client and server
node_modules/

# Ignore build or dist directories for both client and server
/build/
/dist/

# Ignore environment-specific files for both client and server
.env
.env.local
.env.development
.env.test
.env.production

# Ignore any other files or directories specific to your client or server
